<main
  class="flex items-center justify-center h-screen w-screen bg-cover bg-center"
  style="background-image: url('backgroundImage.jpg')"
>
  <div
    class="flex p-4 bg-white shadow rounded-lg overflow-auto transition duration-300 ease-in-out h-3/4 w-3/4 mx-auto justify-around gap-4"
  >
    <div
      class="overflow-auto flex flex-col rounded-lg h-full w-1/2 p-4 type-{{
        pokemon.types[0].type.name
      }}"
    >
      <div class="flex items-center justify-between">
        <!-- Back Button -->
        <div
          class="flex items-center gap-2 cursor-pointer"
          [routerLink]="['/']"
        >
          <mat-icon style="color: #4285f4">arrow_back</mat-icon>
          <span class="text-black text-lg font-bold">PokeDex</span>
        </div>

        <div class="flex items-center gap-4">
          <!-- Show Shiny -->
          <mat-icon
            class="text-yellow-400 cursor-pointer hover:text-yellow-600"
            (mouseenter)="showSiny = true"
            (mouseleave)="showSiny = false"
          >
            auto_awesome
          </mat-icon>
          <!-- Play Cry -->
          <mat-icon
            class="text-blue-500 cursor-pointer"
            (click)="playCry(cry)"
            [ngClass]="{ 'text-red-500': !cry }"
          >
            volume_up
          </mat-icon>
        </div>
      </div>

      <!-- Name and type-->
      <div class="flex gap-3 mt-[-8px] justify-center items-center">
        <h2 class="text-3xl font-bold text-black capitalize">
          {{ pokemon.name | titlecase }}
        </h2>
        <p class="text-xl font-sans text-gray-700">#{{ pokemon.id }}</p>
      </div>

      <div class="flex justify-center items-center mt-2">
        <mat-chip-set>
          <mat-chip class="chip-height">
            <div class="chip-content">
              <p class="font-bold text-sm">Height</p>
              <p class="text-base">{{ pokemon.height / 10 }} m.</p>
            </div>
          </mat-chip>

          <mat-chip class="chip-weight">
            <div class="chip-content">
              <p class="font-bold text-sm">Weight</p>
              <p class="text-base">{{ pokemon.weight / 10 }} kg.</p>
            </div>
          </mat-chip>
        </mat-chip-set>
      </div>

      <!-- Main Image -->
      <div
        class="h-[40%] object-contain w-full flex items-center justify-between mt-4"
      >
        <a [routerLink]="['/pokemon', pokemon.id - 1]">
          <mat-icon class="text-white">arrow_backward</mat-icon></a
        >
        <img
          class="self-center h-[90%] object-contain"
          [src]="
            showSiny
              ? pokemon.sprites.other?.home?.front_shiny
              : pokemon.sprites.other?.home?.front_default
          "
          [alt]="pokemon.name"
        />
        <a [routerLink]="['/pokemon', pokemon.id + 1]"
          ><mat-icon class="text-white">arrow_forward</mat-icon></a
        >
      </div>

      <!-- Evolution Chain -->
      <div class="flex items-center justify-center gap-4 mt-6">
        @for (evolution of evolutionChainImages; track $index) {
        <div class="flex flex-col items-center w-40">
          <a [routerLink]="['/pokemon', evolution.id]">
            <img
              class="h-20 w-20 object-cover rounded-full border-2 border-black"
              [src]="evolution.front_default"
              [alt]="evolution.name"
          /></a>
          <p class="text-white text-sm font-semibold mt-1">
            {{ evolution.name | titlecase }}
          </p>
          <div class="flex flex-nowrap justify-center mt-1 gap-1">
            @for (type of evolution.types; track $index) {
            <mat-chip class="mt-1 text-white" [ngClass]="'chip-' + type">
              {{ type | titlecase }}
            </mat-chip>
            }
          </div>
        </div>

        @if ($index < evolutionChainImages.length - 1) {
        <mat-icon class="text-white">arrow_forward</mat-icon>
        } }
      </div>
    </div>
    <!-- Details Section -->
    <div class="overflow-auto rounded-lg h-full w-1/2">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="About">
          <div class="flex flex-col gap-4 p-6">
            <div>
              <p class="font-bold">Weaknesses</p>
              <mat-chip-set>
                @for (weakness of weaknesses$ | async; track $index) {
                <mat-chip [ngClass]="'chip-' + weakness.name">
                  {{ weakness.name | titlecase }}
                </mat-chip>
                }
              </mat-chip-set>
            </div>
            <div>
              <p class="font-bold">Story</p>
              <p>{{ story }}</p>
            </div>
            <div>
              <mat-chip-set class="pokemon-chip-set">
                @for (type of pokemon.types; track $index) {
                <mat-chip
                  class="chip-height"
                  [ngClass]="'chip-' + type.type.name"
                >
                  <div class="chip-content">
                    <p class="font-bold text-sm">Type</p>
                    <p class="text-base">{{ type.type.name }}</p>
                  </div>
                </mat-chip>
                } @for (ability of pokemon.abilities; track $index) {
                <mat-chip class="chip-ability">
                  <div class="chip-content">
                    <p class="font-bold text-sm">Ability</p>
                    <p class="text-base">
                      {{ ability.ability.name | titlecase }}
                    </p>
                  </div>
                </mat-chip>
                }
              </mat-chip-set>
            </div>
            <div>
              <p class="font-bold">Stats</p>
              @for (stat of pokemon.stats; track $index) {
              <p class="font-semibold">
                {{ stat.stat.name | uppercase }}: {{ stat.base_stat }}
              </p>
              <mat-progress-bar
                class="gap-3"
                mode="determinate"
                [value]="stat.base_stat"
                [ngClass]="{
                  'low-stat': stat.base_stat < 60,
                  'mid-stat': stat.base_stat >= 60 && stat.base_stat < 90,
                  'high-stat': stat.base_stat >= 90
                }"
              ></mat-progress-bar>
              }
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Moves"
          ><div class="p-4">
            <h3 class="text-lg font-bold mb-4">Moves</h3>
            <div
              class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2"
            >
              @for (move of pokemon.moves | slice: 0:20; track $index) {
              <mat-chip
                class="cursor-default .mat-mdc-standard-chip justify-center"
              >
                <div class="chip-content">
                  {{ move.move.name | titlecase }}
                </div>
              </mat-chip>
              }
            </div>
          </div></mat-tab
        >
        <mat-tab label="Encounters"><div></div></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
